@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    
    <script type="text/javascript">
        function TopicsViewModel() {
            var self = this;
            self.topics = ko.observableArray([]);

            self.voteUp = function (data) {
                $.ajax({
                    type: "PUT",
                    url: data.SelfLink + '?vote=up',
                    success: function () {
                        data.Votes += 1;
                    }
                });
            }

            self.voteDown = function (data) {
                $.ajax({
                    type: "PUT",
                    url: data.SelfLink + '?vote=down',
                    success: function () {
                        data.Votes -= 1;
                    }
                });
            }

            // Load the initial state
            $.getJSON("api/topics", self.topics)
                .done(function () {  });
        }

        ko.applyBindings(new TopicsViewModel());
    </script>
}

<div id="container">
    <ul data-bind="foreach: topics">
        <li>
            <span data-bind="text: Title" style="font-size: large"></span><br/>
            <span data-bind="text: Description"></span><br/>
            <span data-bind="text: Votes"></span><br />
            <button data-bind="click: $parent.voteUp">Up</button>
            <button data-bind="click: $parent.voteDown">Down</button>
            <br />
        </li>
    </ul>
</div>



