@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    
    <script type="text/javascript">
        function TopicsViewModel() {
            var self = this;
            self.loaded = ko.observable(false);
            self.topics = ko.observableArray([]);

            //self.createContactFromForm = function (formElement) {
            //    // If valid, post the serialized form data to the web api
            //    $(formElement).validate();
            //    if ($(formElement).valid()) {
            //        $.post("api/contacts", $(formElement).serialize(), "json")
            //            .done(function (newContact) { self.contacts.push(newContact); });
            //    }
            //}
            //self.removeContact = function (contact) {
            //    // First remove from the server, then from the UI
            //    $.ajax({ type: "DELETE", url: contact.Self })
            //        .done(function () { self.contacts.remove(contact); });
            //}

            // Load the initial state
            $.getJSON("api/topics", self.topics)
                .done(function () { self.loaded(true); });
        }

        ko.applyBindings(new TopicsViewModel());
    </script>
}

<div id="container">
    <ul data-bind="foreach: topics">
        <li>
            <span data-bind="text: Title" style="font-size: large"></span><br/>
            <span data-bind="text: Description"></span><br/>
            <span data-bind="text: Votes"></span><br />
        </li>
    </ul>
</div>



